<h2>Welcome, {{name}}!</h2>

{{#if taxReports.length}}
    <div class="col-md-6 project-list">
        <h3>Current Tax Reports:</h3>

        {{#each taxReports as |taxReport|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4><a href="/taxReport/{{taxReport.id}}">{{taxReport.year}}</a></h4>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-danger" id="deleteButton" data-id="{{taxReport.id}}">DELETE</button>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<script src="./js/account.js"></script>
