<div class="row align-items-md-stretch text-center">
    <div class="col-md-6">
        <form id="login-form">
            <h1 class="h3 mb-3 fw-normal">Login!</h1>

            <div class="form-floating text-black">
                <input type="email" class="form-control" id="loginEmail" placeholder="name@example.com">
                <label for="loginInput">Email address</label>
            </div>
            <div class="form-floating text-black">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                <label for="loginPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </div>
    <div class="col-md-6">
        <form id="signup-form">
            <h1 class="h3 mb-3 fw-normal">Signup!</h1>

            <div class="form-floating text-black">
                <input type="text" class="form-control" id="signupName" placeholder="John">
                <label for="signupName">Name</label>
            </div>
            <div class="form-floating text-black">
                <input type="email" class="form-control" id="signupEmail" placeholder="name@example.com">
                <label for="signupEmail">Email address</label>
            </div>
            <div class="form-floating text-black">
                <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                <label for="signupPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Signup</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
