<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <h4 class="mb-3">Your Details!</h4>
        <div class="shadow-lg p-4 mb-4 bg-white rounded-3">
            <table class="table table-striped table-dark">
                <tbody>
                <tr>
                    <th scope="row">Year:</th>
                    <td class="yearOutput"></td>
                </tr>
                <tr>
                    <th scope="row">Income:</th>
                    <td id="incomeOutput"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 results">
        <h4 class="mb-3">Your tax report!</h4>
        <div class="shadow-lg p-4 mb-4 bg-white rounded-3">
            <table class="table table-striped table-dark">
                <tbody>
                <tr>
                    <th scope="row">Year:</th>
                    <td class="yearOutput"></td>
                </tr>
                <tr>
                    <th scope="row">Income:</th>
                    <td id="fedTaxOutput"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>